<h1>Dragon Ball Super Card Game Maker</h1>

<div id="form-content">
  <div>
    <span id="color-buttons">
      <button id="black-btn" pButton type="button" label="Black" class="ui-button-rounded"
              (click)="swapFrameColor('../assets/black_card_frame.png')">
      </button>
      <button id="blue-btn" pButton type="button" label="Blue" class="ui-button-rounded"
              (click)="swapFrameColor('../assets/blue_card_frame.png')">
      </button>
      <button id="green-btn" pButton type="button" label="Green" class="ui-button-rounded"
              (click)="swapFrameColor('../assets/green_card_frame.png')">
      </button>
      <button id="red-btn" pButton type="button" label="Red" class="ui-button-rounded"
              (click)="swapFrameColor('../assets/red_card_frame.png')">
      </button>
      <button id="yellow-btn" pButton type="button" label="Yellow" class="ui-button-rounded"
              (click)="swapFrameColor('../assets/yellow_card_frame.png')">
      </button>
    </span>
  </div>

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="cardName"
        id="name-input"
        type="text"
        size="30"
        pInputText
      >
      <label for="name-input">Card Name</label>
    </span>
  </div>

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="character"
        id="character-input"
        type="text"
        size="30"
        pInputText
      >
      <label for="character-input">Character</label>
    </span>
  </div>

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="specialTrait"
        id="trait-input"
        type="text"
        size="30"
        pInputText
      >
      <label for="trait-input">Special Trait</label>
    </span>
  </div>

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="era"
        id="era-input"
        type="text"
        size="30"
        pInputText
      >
      <label for="era-input">Era</label>
    </span>
  </div>

</div>

<div id="card-display-holder">
  <div id="card">
    <div id="cardName">{{this.cardName}}</div>
    <div id="character">{{this.character}}</div>
    <div id="special-trait">{{this.specialTrait}}</div>
    <div id="era">{{this.era}}</div>
    <img src='{{frameResource}}' alt="Card Frame" width="100%" height="100%">
  </div>
</div>
