* {
  font-family: Avenir, sans-serif;
}

p {
  text-align: center;
  font-family: Saiyan-Sans-Right-Oblique, serif;
  padding-left: 150px;
}

#form-content div {
  margin-right: 10px;
}

#main-title {
  font-size: 75px;
  margin: 0;
}

#subtitle {
  font-size: 50px;
  margin: 0;
  padding-bottom: 10px;
}

#page-content {
  margin: auto !important;
  max-width: 1000px;
}

/* Form Control CSS -------------------------------------------------------------------------------------------*/

input {
  width: 300px;
}

h4 {
  margin-left: 10px;
}

textarea {
  width: 300px !important;
}

#form-content {
  float: left;
  display: inline-block;
  padding-left: 175px;
  min-width: 300px;
}

@media only screen and (min-width: 1000px) {
  #footer {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (max-width: 1000px) {
  #form-content, #card-display-holder {
    position: relative !important;
    display: block !important;
    padding: 0 !important;
    margin: 0 auto !important;
    float: none !important;
    width: 325px;
  }

  #card-display-holder {
    width: 500px;
  }

  p {
    padding: 0;
  }

  #main-title {
    display: none;
  }

  #footer {
    margin-top: 15px;
  }
}

.large-bottom-margin {
  margin-bottom: 23px;
}

.pad-bottom {
  padding-bottom: 30px;
}

#total-cost-input {
  margin-right: 10px;
}

.cost-input {
  float: left;
}


.highlight-btn:hover {
  box-shadow: 0 0 20px 3px #d4d01d;
}

.highlight-btn:focus {
  outline-style: none;
  box-shadow: 0 0 20px 3px #d4d01d;
}

#frameColorDropdown {
  width: 300px;
  height: 30px;
}

#show-card-box-input {
  padding-right: 67px;
}

/* Card Display CSS: ----------------------------------------------------------------------------------------- */

.card-size, .layer-asset {
  width: 472.5px;
  height: 660px;
}

#card-display-holder {
  width: 500px;
  float: left;
  display: inline-block;
}

#card {
  position: relative;
}

.layer-asset {
  position: absolute;
  top: 0;
  right: 0;
}

#card-name, #power {
  position: absolute;
  z-index: 1000;
  color: white;
  font-style: italic;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#card-name {
  font-size: 35px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}

#card-name-area {
  display: inline-block;
  position: absolute;
  width: 292px;
  height: 20px;
  min-height: 20px;
  left: 93px;
  top: 27px;
  margin: 0;
}

#power {
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}

#power-area {
  position: absolute;
  width: 100px;
  height: 40px;
  min-height: 40px;
  left: 80px;
  bottom: 50px;
}

#total-cost-area {
  position: absolute;
  width: 38px;
  height: 40px;
  min-height: 40px;
  left: 20px;
  top: 20px;
}

#total-cost {
  position: absolute;
  display: inline-block;
  z-index: 1000;
  bottom: 0;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 43px;
  font-family: Verdana, sans-serif;
  white-space: nowrap;
  margin: 0 auto;
  text-shadow: 3px 3px 3px black;
  -webkit-text-stroke: 2px black;
}

#specified-cost {
  position: absolute;
  top: 25px;
  left: 25px;
}

#total-cost-input, .specified-cost-input {
  width: 58px;
}

#character, #special-trait, #era {
  position: absolute;
  z-index: 10000;
  color: white;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  bottom: 0;
  right: 0;
  white-space: nowrap;
}

#character-area, #special-trait-area, #era-area {
  display: inline-block;
  position: absolute;
  width: 138px;
  height: 14px;
  min-height: 14px;
  margin: 0;
  left: 293px;
}

#character-area {
  top: 575px;
}

#special-trait-area {
  top: 590px;
}

#era-area {
  width: 125px;
  height: 14px;
  top: 605px;
  left: 295px;
}

#card-art {
  position: absolute;
  z-index: -9000;
  border-radius: 25px;
  top: 0;
  left: 0;
}

#skill {
  font-size: 14px;
  position: absolute;
  top: 460px;
  right: 22px;
  width: 408px;
  height: 110px;
  white-space: pre-wrap;
}

#highlight-help {
  width: 25px;
  vertical-align: bottom;
  margin-right: 5px;
}

#highlight-help:hover {
  background-color: #d4d01d;
  border-radius: 50%;
}

#hex-input {
  width: 62px;
  margin-right: 5px;
}

.skill-highlight {
  font-family: Georgia, sans-serif !important;
  font-weight: normal !important;
  -webkit-text-stroke: 0 black !important;
  padding-left: 4px;
  padding-right: 4px;
}

.highlight-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  bottom: 0;
  vertical-align: sub;
  margin-bottom: 5px;
  margin-top: 10px;
}

#clear-highlighting {
  width: 25px;
  bottom: 0;
  vertical-align: sub;
  cursor: pointer;
}

#auto-highlight {
  margin-top: 10px;
  vertical-align: bottom;
  margin-right: 60px;
}

#blue-highlight-btn {
  background-color: deepskyblue;
  border-color: deepskyblue;
}

#red-highlight-btn {
  background-color: #ff0a16;
  border-color: #ff0a16;
}

#yellow-highlight-btn {
  background-color: #d5a90b;
  border-color: #d5a90b;
}

#pink-highlight-btn {
  background-color: #d52298;
  border-color: #d52298;
}

#bright-yellow-highlight-btn {
  background-color: #ffff00;
  border-color: #ffff00;
}

#green-highlight-btn {
  background-color: #0a832d;
  border-color: #0a832d;
}

#photo-editor-dialog .ui-dialog-content {
  width: 800px;
  height: 600px;
}

image-cropper {
  max-height: 500px !important;
}

#card-art-editor > img {
  width: 35px;
  cursor: pointer;
}

#rotate-left {
  -webkit-transform: scaleX(-1);
}

#reflect-vertically {
  transform: rotate(90deg);
}

#save-changes:hover {
  box-shadow: 0 0 20px 3px #d4d01d;
}

.image-editor-button {
  margin-top: 10px;
  margin-right: 10px;
}

#info-icon {
  cursor: pointer;
  width: 50px;
}

#watermark {
  position: absolute;
  bottom: 15px;
  right: 17px;
  font-size: 8px;
  color: white;
}

#save-changes:hover {
  box-shadow: 0 0 20px 3px #d4d01d;
}

.cost {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  background-color: white;
  line-height: 14px;
}

#download {
  margin-top: 10px;
}

#download-btn {
  margin-right: 10px;
}

#text-cost-adder {
  margin-top: 10px;
}

#text-cost-amount {
  margin-left: 5px;
  height: 30px;
  width: 45px;
  vertical-align: bottom;
}

#add-text-cost-btn {
  margin-left: 5px;
  vertical-align: bottom;
}
