<h1>Dragon Ball Super Card Game Maker</h1>

<div id="form-content">
  <span id="color-buttons">
    <button id="black-btn" pButton type="button" label="Black" class="ui-button-rounded" (click)="setFrameColor('black')"></button>
    <button id="blue-btn" pButton type="button" label="Blue" class="ui-button-rounded" (click)="setFrameColor('blue')"></button>
    <button id="green-btn" pButton type="button" label="Green" class="ui-button-rounded" (click)="setFrameColor('green')"></button>
    <button id="red-btn" pButton type="button" label="Red" class="ui-button-rounded" (click)="setFrameColor('red')"></button>
    <button id="yellow-btn" pButton type="button" label="Yellow" class="ui-button-rounded" (click)="setFrameColor('yellow')"></button>
  </span>
  <br />

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="cardName"
        id="name-input"
        type="text"
        size="30"
        pInputText
      >
      <label for="name-input">Card Name</label>
    </span>
  </div>

  <div>
    <input id="art-input" type="file" name="myFile" (change)="setCardArt($event)">
  </div>

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="power"
        id="power-input"
        type="number"
        size="30"
        pInputText
      >
      <label for="power-input">Power</label>
    </span>
  </div>

  <h4>Show Card Text Box:</h4>
  <p-inputSwitch id="show-card-box-switch" [(ngModel)]="showCardTextBox"></p-inputSwitch>

  <div>
    <span class="ui-float-label">
      <textarea
        id="card-text-input"
        [(ngModel)]="skill"
        rows="5" cols="30"
        pInputTextarea
        autoResize="autoResize"
        (ngModelChange)="removeHighlight()">
      </textarea>
      <label for="card-text-input">Skills</label>
    </span>
  </div>

  <button pButton type="button" label="Highlight Keywords" class="ui-button-rounded" (click)="parseForKeywords()"></button>

  <h4>Select Combo Power:</h4>
  <p-dropdown [options]="combos" [(ngModel)]="selectedCombo" optionLabel="name"></p-dropdown>

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="totalCost"
        id="total-cost-input"
        type="number"
        size="30"
        pInputText
      >
      <label for="total-cost-input">Total Cost</label>
    </span>
  </div>

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="character"
        id="character-input"
        type="text"
        size="30"
        pInputText
      >
      <label for="character-input">Character</label>
    </span>
  </div>

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="specialTrait"
        id="trait-input"
        type="text"
        size="30"
        pInputText
      >
      <label for="trait-input">Special Trait</label>
    </span>
  </div>

  <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="era"
        id="era-input"
        type="text"
        size="30"
        pInputText
      >
      <label for="era-input">Era</label>
    </span>
  </div>

</div>

<div id="card-display-holder">
  <div id="card" class="card-size">
    <div id="cardName">{{this.cardName}}</div>
    <div id="power">{{this.power}}</div>
    <div id="total-cost">{{this.totalCost}}</div>
    <div id="character">{{this.character}}</div>
    <div id="special-trait">{{this.specialTrait}}</div>
    <div id="era">{{this.era}}</div>
    <div *ngIf="cardArt"><img id="card-art" [src]="cardArt" class="card-size" height="200" alt="User Art"></div>
    <div id="skill">{{this.skill}}</div>
    <img src='{{selectedFrameResource}}' alt="Card Frame" width="100%" height="100%">
    <img *ngIf="showCardTextBox" class="layer-asset" [src]="assets + colorResources[cardColor]['box']" alt="Card Textbox">
    <img class="layer-asset" [src]="assets + selectedCombo['cost']" alt="combo cost">
    <img class="layer-asset" [src]="assets + selectedCombo['power']" alt="combo power">
  </div>
</div>
