<p id="main-title">DragonBall</p>
<p id="subtitle">Super Card Game Maker</p>

<div id="page-content">
  <div id="form-content">

    <div id="color-button-holder" class="large-bottom-margin">
    <span id="color-buttons">
      <button id="black-btn" type="button" class="color-button" (click)="setFrameColor('black')"></button>
      <button id="blue-btn" type="button" class="color-button" (click)="setFrameColor('blue')"></button>
      <button id="green-btn" type="button" class="color-button" (click)="setFrameColor('green')"></button>
      <button id="red-btn" type="button" class="color-button" (click)="setFrameColor('red')"></button>
      <button id="yellow-btn" type="button" class="color-button" (click)="setFrameColor('yellow')"></button>
    </span>
    </div>

    <div class="large-bottom-margin">
    <span class="ui-float-label">
      <input
        [(ngModel)]="cardName"
        id="name-input"
        type="text"
        size="30"
        pInputText
        (ngModelChange)="scaleTextField('card-name', 35)"
      >
      <label for="name-input">Card Name</label>
    </span>
    </div>

    <div class="large-bottom-margin">
      <button pButton type="button" label="Edit Card Art" class="ui-button-rounded"
              (click)="displayCardArtEditor = true"></button>
    </div>

    <div>
    <span class="ui-float-label">
      <input
        [(ngModel)]="power"
        id="power-input"
        type="number"
        size="30"
        pInputText
        (ngModelChange)="scaleTextField('power', 30)"
      >
      <label for="power-input">Power</label>
    </span>
    </div>
    <br/>

    <div class="large-bottom-margin">
      <span class="ui-float-label">
      <label for="card-text-input"></label>
        <textarea
          id="card-text-input"
          [(ngModel)]="skill"
          rows="5" cols="30"
          pInputTextarea
          autoResize="autoResize"
          (ngModelChange)="removeHighlight()"
          placeholder="Skill"
        >
      </textarea>
    </span>

      <p-accordion [style]="{width: '300px'}">
        <p-accordionTab header="Edit Card Text">
          <span id="show-card-box-input">
            <label for="show-card-box-switch">Show Card Text Box:</label>
            <p-inputSwitch id="show-card-box-switch" [(ngModel)]="showCardTextBox"></p-inputSwitch>
          </span>
          <img id="highlight-help" src="../assets/icons/information.svg" alt="explain highlights"
               (click)="this.displayHighlightHelp = true">
          <br/>
          <button id="blue-highlight-btn" type="button" class="highlight-btn"
                  (click)="addKeywordToList('#00BFFF')"></button>
          <button id="red-highlight-btn" type="button" class="highlight-btn"
                  (click)="addKeywordToList('#ff0a16')"></button>
          <button id="yellow-highlight-btn" type="button" class="highlight-btn"
                  (click)="addKeywordToList('#d59e2c')"></button>
          <button id="pink-highlight-btn" type="button" class="highlight-btn"
                  (click)="addKeywordToList('#d52298')"></button>
          <button id="bright-yellow-highlight-btn" type="button" class="highlight-btn"
                  (click)="addKeywordToList('#ffff00')"></button>
          <button id="green-highlight-btn" type="button" class="highlight-btn"
                  (click)="addKeywordToList('#0a832d')"></button>
          <br/>
          <span>Custom Color: <p-colorPicker [(ngModel)]="skillHex"
                                             (ngModelChange)="addKeywordToList(skillHex)"></p-colorPicker></span>
          <br/>
          <button id="auto-highlight" pButton type="button" label="Auto Highlight Keywords" class="ui-button-rounded"
                  (click)="formatCardText()"></button>
          <img id="clear-highlighting" src="../assets/icons/clearChanges.svg" alt="clear highlights"
               (click)="clearHighlights()">
          <br/>
          <div id="text-cost-adder">
            <p-dropdown
              [options]="colorOptions"
              [(ngModel)]="textCostColor"
              optionLabel="name"
              placeholder="Cost Color"
              autoWidth="true">
            </p-dropdown>
            <input
              [(ngModel)]="textCostAmount"
              id="text-cost-amount"
              type="number"
              pInputText>
            <button id="add-text-cost-btn" pButton type="button" label="+" class="ui-button-rounded"
            (click)="addCostToTextFromUI()"></button>
          </div>
        </p-accordionTab>
      </p-accordion>


    </div>

    <div class="large-bottom-margin">
      <p-dropdown
        [options]="combos"
        [(ngModel)]="selectedCombo"
        optionLabel="name"
        placeholder="Set Combo Power"
        autoWidth="false"
        [style]="{'width':'300px'}">
      </p-dropdown>
    </div>

    <div class="pad-bottom large-bottom-margin">
    <span class="ui-float-label cost-input">
      <input
        [(ngModel)]="totalCost"
        id="total-cost-input"
        type="number"
        size="30"
        pInputText
        (ngModelChange)="scaleTextField('total-cost', 43)"
      >
      <label for="total-cost-input">Total Cost</label>
    </span>

      <span class="ui-float-label cost-input">
      <input
        [(ngModel)]="specifiedCost"
        id="specified-cost-input"
        [disabled]="cardColor === 'black'"
        type="number"
        size="30"
        pInputText
        [min]="0"
        (ngModelChange)="setDrops()"
      >
      <label for="specified-cost-input">Specified Cost</label>
    </span>
    </div>

    <div class="large-bottom-margin">
    <span class="ui-float-label">
      <input
        [(ngModel)]="character"
        id="character-input"
        type="text"
        size="30"
        pInputText
        (ngModelChange)="scaleTextField('character', 10)"
      >
      <label for="character-input">Character</label>
    </span>
    </div>

    <div class="large-bottom-margin">
    <span class="ui-float-label">
      <input
        [(ngModel)]="specialTrait"
        id="trait-input"
        type="text"
        size="30"
        pInputText
        (ngModelChange)="scaleTextField('special-trait', 10)"
      >
      <label for="trait-input">Special Trait</label>
    </span>
    </div>

    <div class="large-bottom-margin">
    <span class="ui-float-label">
      <input
        [(ngModel)]="era"
        id="era-input"
        type="text"
        size="30"
        pInputText
        (ngModelChange)="scaleTextField('era', 10)"
      >
      <label for="era-input">Era</label>
    </span>
    </div>
  </div>

  <div id="card-display-holder">
    <div id="card" class="card-size">
      <div id="card-name-area">
        <div id="card-name">{{this.cardName}}</div>
      </div>
      <div id="total-cost-area">
        <div id="total-cost">{{this.totalCost}}</div>
      </div>
      <div id="power-area">
        <div id="power">{{this.power}}</div>
      </div>
      <div id="character-area">
        <div id="character">{{this.character}}</div>
      </div>
      <div id="special-trait-area">
        <div id="special-trait">{{this.specialTrait}}</div>
      </div>
      <div id="era-area">
        <div id="era">{{this.era}}</div>
      </div>
      <div *ngIf="cardArt"><img id="card-art" class="card-size" [src]="cardArt" height="200" alt="User Art"></div>
      <img src='{{selectedFrameResource}}' alt="Card Frame" width="100%" height="100%">
      <img *ngIf="showCardTextBox" class="layer-asset" [src]="assets + colorResources[cardColor]['box']"
           alt="card text">
      <div id="skill">{{this.skill}}</div>
      <div id="specified-cost"></div>
      <img *ngIf="selectedCombo" class="layer-asset" [src]="assets + selectedCombo['cost']" alt="combo cost">
      <img *ngIf="selectedCombo" class="layer-asset" [src]="assets + selectedCombo['power']" alt="combo power">
      <div id="watermark">shenwrong.com</div>
    </div>
    <div id="download">
      <p-button id="download-btn" label="Save Card" (click)="downloadImage()"></p-button>
      <span id="download-link"></span>
    </div>
  </div>

</div>


<p-dialog id="photo-editor-dialog" [(visible)]="displayCardArtEditor" draggable="true" dismissableMask="true"
          [style]="{width: '800px', height: '600px'}" [modal]="true">
  <div id="card-art-editor">
    <input id="art-input" type="file" name="myFile" (change)="setCardArt($event)"><br/>
    <img id="rotate-left" class="image-editor-button" (click)="rotateLeft()" src="../assets/icons/rotate.svg"
         alt="rotate left">
    <img id="rotate-right" class="image-editor-button" (click)="rotateRight()" src="../assets/icons/rotate.svg"
         alt="rotate right">
    <img id="reflect-vertically" class="image-editor-button" (click)="flipVertical()"
         src="../assets/icons/flip.svg" alt="reflect vertically">
    <img id="reflect-horizontally" class="image-editor-button" (click)="flipHorizontal()"
         src="../assets/icons/flip.svg" alt="reflect horizontally">
    <img id="clear-changes" class="image-editor-button" (click)="resetImage()" src="../assets/icons/clearChanges.svg"
         alt="clear changes">
    <img id="save-changes" class="image-editor-button" (click)="saveImage()" src="../assets/icons/save.svg"
         alt="save changes">
    <br/>
    <div id="cropper-area">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="472.5 / 660"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        format="png"
        outputType="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        [style.display]="showCropper ? null : 'none'"
        [alignImage]="'left'"
      ></image-cropper>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayHighlightHelp" draggable="true" [modal]="true" header="Help"
          dismissableMask="true">
  <div>
    <h4>Highlighting</h4>
    <li>You can use these tools to highlight keywords. For example, the way <span class="skill-highlight"
                                                                                  style="background-color: red; color: white;">Double Strike</span>
      is shown in red or <span class="skill-highlight" style="background-color: #00BFFF; color: white;">Auto</span> is
      shown in blue.
    </li>
    <li>If you want to highlight only standard keywords in the game, you may just hit the "Auto Highlight Keywords"
      button.
    </li>
    <li>If you want to highlight your own custom keyword skills, you may highlight the word in the input area and then
      hit one of the colored circular buttons.
    </li>
    <li>If you want to use a custom color, you may select a color using the custom color picker.</li>
    <li>To clear highlighting, hit the green trash can button.</li>
    <h4>Costs</h4>
    <li>To add a cost to a card skill, you can select a color from the drop-down and input the amount of the color needed.</li>
    <li>You may also add costs to the skill area by typing $$$ followed by the first letter of the color (use N for
      color-less), and then the cost.
    </li>
    <li>Examples:</li>
    <ul>
      <li>$$$G1 results in <span class="cost" style="background-color: green"></span></li>
      <li>$$$Y2 results in <span class="cost" style="background-color: yellow"></span><span class="cost"
                                                                                            style="background-color: yellow"></span>
      </li>
      <li>$$$B1 results in <span class="cost" style="background-color: blue"></span></li>
      <li>$$$R3 results in <span class="cost" style="background-color: red"></span><span class="cost"
                                                                                         style="background-color: red"></span><span
        class="cost" style="background-color: red"></span></li>
      <li>$$$N4 results in <span class="cost">4</span></li>
    </ul>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayFooter" draggable="true" [modal]="true" header="Credits / Disclaimer"
          dismissableMask="true">
  <div>
    <div>This site is completely unaffiliated with Akira Toriyama, DragonBall, Bandai, etc. This website was created
      entirely for fun, to be used only for fun.
    </div>
    <div>Please do not abuse it.</div>
    <br/>
    <div>Don't like something? Please feel free to help improve the project. <a
      href="https://github.com/amandagrice/dbscg-maker" title="github">GitHub here.</a></div>
    <br/>
    <div>Or contact the creator at <a href="mailto:algrice@bu.edu">algrice@bu.edu</a></div>
    <br/>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <br/>
    <div>Thanks to <a
      href="https://www.reddit.com/r/DBS_CardGame/comments/96ok5e/createacard_contest_battle_card_edition/">u/kyuri462</a>
      on reddit for the card assets.
    </div>
  </div>
</p-dialog>

<div id="footer">
  <img id="info-icon" (click)="openFooter()" src="../assets/icons/question.svg" alt="credits / disclaimer">
</div>
