* {
  font-family: Avenir, sans-serif;
}

.card-size, .layer-asset {
  width: 472.5px;
  height: 660px;
}

.layer-asset {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
}

#form-content {
  float: left;
  width: 50%;
  display: inline-block;
  min-width: 500px;
}

#form-content, div {
  margin-bottom: 30px;
  margin-left: 10px;
}

h4 {
  margin-left: 10px;
}

#card-display-holder {
  float: left;
  display: inline-block;
}

.ui-button-rounded {
  margin-left: 10px !important;
  margin-bottom: 30px !important;
}

#black-btn {
  background-color: black;
  border-color: black;
}

#green-btn {
  background-color: green;
  border-color: green;
}

#yellow-btn {
  background-color: yellow;
  border-color: yellow;
  color: black;
}

#red-btn {
  background-color: #a4090c;
  border-color: #a4090c;
}

#card {
  position: relative;
}

#card-name, #power {
  position: absolute;
  z-index: 1000;
  color: white;
  font-style: italic;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#card-name {
  font-size: 35px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}

#card-name-area {
  display: inline-block;
  position: absolute;
  width: 292px;
  height: 20px;
  min-height: 20px;
  left: 93px;
  top: 27px;
  margin: 0;
}

#power {
  right: 278px;
  top: 575px;
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

#total-cost {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  color: white;
  font-weight: bold;
  font-size: 43px;
}

#character, #special-trait, #era {
  position: absolute;
  z-index: 1000;
  color: white;
  font-family: Verdana, serif;
  font-size: 10px;
  font-style: italic;
}

#character {
  right: 42px;
  top: 575px;
}

#special-trait {
  right: 42px;
  top: 590px;
}

#era {
  right: 52px;
  top: 605px;
}

#card-art {
  position: absolute;
  z-index: -9000;
  border-radius: 25px;
  top: 0;
  left: 0;
}

#skill {
  font-family: Avenir, sans-serif;
  /*-webkit-text-stroke: 1px black;*/
  font-size: 14px;
  /*font-weight: bolder;*/
  /*color: white;*/
  position: absolute;
  z-index: 9001;
  top: 460px;
  right: 22px;
  width: 408px;
  height: 110px;
  white-space: pre-wrap;
}

.skill-highlight {
  font-family: Georgia, sans-serif !important;
  color: white !important;
  font-weight: normal !important;
  -webkit-text-stroke: 0 black !important;
  padding-left: 4px;
  padding-right: 4px;
}

.blue-skill {
  background-color: deepskyblue !important;
}

.red-skill {
  background-color: #ff0a16 !important;
}

.yellow-skill {
  background-color: #d59e2c !important;
}

.pink-skill {
  background-color: #d52298 !important;
}

#specified-cost-input {
  width: 242px;
}

#specified-cost {
  position: absolute;
  top: 25px;
  left: 15px;
}
